#greeting_para{
    visibility: hidden;
    margin-top: 10rem;
}

p {
    font-Size: 1.7rem;
}

h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
}

#start_button{
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

#button_div_one button {
    margin: 0.5rem;
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
    
}

#window_img{
    position: absolute;
    top: 17rem;
    width:30%;
    left:35%;
    z-index: 1;
}

#condition_img{
    margin-top: 4rem;
    width:100%;
}

#clothing_div{
    margin-right: 0.5rem;
}

.flex_cont{
    display: flex;
}

#items_div{
    height: 10rem;
    width: 35%;
}

#window_div{
    height: 10rem;
    width: 30%;
}

#choosen_div{
    height: 10rem;
    width: 35%;
}

.item_flex_cont{
    display: flex;
    justify-content: space-evenly;
}

.itemContainer{
    width: 25%;
    height: 10rem;
    border: solid 1px black;
}

.itemImg{
    height: 70%;
    margin-top: 0.3rem;
}

.imgLabel{
    height: 20%;
    margin: 0px;
    font-size: 1.5rem;
}

.selectedImg{
    border: solid red 2px;
    background-color: rgba(211,211,211,0.5);
}

#assess_Button_Cont{
    margin-top: 55vh;
    visibility: hidden;
}

#assess_Button{
    width: 45rem;
    height: 5rem;
    font-size: 2rem;
}