#greeting_para{
    visibility: hidden;
    margin-top: 10rem;
}

p {
    font-Size: 1.7rem;
}

h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
}

#start_button{
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

#button_div_one button {
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
    
}

#window_img{
    width:30%;
    position: absolute;
    left:35%;
    z-index: 1;
}

#condition_img{
    width:100%;
}

.flex_cont{
    display: flex;
}

.border{
    border: 3px solid black;
}

#items_div{
    height: 10rem;
    width: 35%;
}

#window_div{
    height: 10rem;
    width: 30%;
}

#choosen_div{
    height: 10rem;
    width: 35%;
}

.item_flex_cont{
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    align-items: center;
}

.itemImg{
    width: 5rem;
}