#greeting_para{
    visibility: hidden;
    margin-top: 10rem;
}

p {
    font-Size: 1.7rem;
}

h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
}

#start_button{
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

#button_div_one button {
    height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 15px;
    
}

#window_div{
    width: 100%;
    position: absolute;
}

#window_img{
    width:30%;
    position: absolute;
    left:35%;
    z-index: 1;
}

#condition_img{
    width:30%;
}
